
.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
  }
  .nav-link-logout-btn{
    background: #292929;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    
  }

  
  .main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
  }
  
  .main-navigation__title {
    color: white;
  }
  
  .main-navigation__title a {
    text-decoration: none;
    color: white;
  }
  
  .main-navigation__header-nav {
    display: block;
    /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);*/
  }
  
  .main-navigation__drawer-nav {
    height: 100%;
    /*width: 240px;*/
  }
  
  @media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__header-nav {
      display: flex;
      flex-direction: row;
    }
    
    
  }


  .sidenav {
    display: flex; /* Will be hidden on mobile */
    background-color: #011858;
    position: fixed;
    height: 100%;
    width: 240px;
    top: 0;
    bottom: 0;
    overflow: scroll;
    scrollbar-color: white;
    margin-top: 3rem;
  }
  .sidenav__list {
    padding: 0;
    margin-top: 85px;
    list-style-type: none;
    height: 100%;
  }

  .sidenav__list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
  }

  .sidenav__list-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .sidenav{
      display: none;
    }
  }
