.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .nav-links li {
    margin: 1rem;
    padding-right: 1rem;

  }

  .first-item{
    padding-top: 10rem;
   }
   .last-item{
    padding-bottom: 3rem;
   }

  .nav-links a {
    border: 1px solid transparent;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .nav-links a:hover,
  .nav-links a:active,
  .nav-links a.active {
    background: #00f8c2;
    border-radius: 5px;
    border-color: #292929;
    color: white;
    
  }
  
  .nav-links button {
    cursor: pointer;
    border: 1px solid #292929;
    color: white;
    background: transparent;
    border-radius: 5px;
    padding: 0.5rem;
    font: inherit;
  }
  
  .nav-links button:focus {
    outline: none;
  }
  
  .nav-links button:hover,
  .nav-links button:active {
    background: #292929;
    border-radius: 5px;
    color: white;
  }

  .logout-btn{
    display: none;
  }
  .first-item{
    padding-top: 20rem;
   }
  
  @media (min-width: 768px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      
    }
  
    .nav-links li {
      margin: 1rem;
      padding-right: 1rem;
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
    }
  
    .nav-links button {
      border: 1px solid white;
      color: white;
      background: transparent;
    }
    
    .nav-links button:hover,
    .nav-links button:active {
      background: #f8df00;
      color: #292929;
    }
    .first-item{
      padding-top: 15rem;
     }
     .last-item{
      padding-bottom: 3rem;
     }
     .logout-btn{
      display: block;
    }
  }